body {
  background-color: slategray;
}
.wrapper {
  display: grid;
  justify-items: center;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}


.container > * {
  margin: 20px 12px;
  flex: 1 1 200px;
}

.main-nav {
  display: flex;
  justify-content: space-between;

}

a:link {
  text-decoration: none;
   color:black;
}
li {
  list-style: none;
 
  
}

article {
  background-color: lightgray;
}

section {
background-color: darkgray;
padding: 7px;
}